// Colors
$light-color: rgb(255,255,255);
$bright-color: rgb(246,246,246);

$black-color: rgb(0,0,0);
$dark-color: rgb(23,23,23);

$primary-color: rgb(118,0,0);
$primary-color-light: rgb(148,30,30);
$primary-color-dark: rgb(98,0,0);

$review-bad: #d32f2f;
$review-regular: #ffc107;
$review-good: #00695c;
$review-excellent: #2e7d32;
