// Variables
@import 'variables';

// Elements Theme
:root {
	--el-color-primary: #{$primary-color};
	--el-color-primary-light-3: #{$primary-color-light};
	--el-color-primary-dark-2: #{$primary-color-dark};
}
